
header > h1 {
    background-color: #f8e5ce;
    padding: 0.4em;
    border-radius: 0.2em;
}
h1 {color: rgb(145, 73, 28)}

blockquote {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    /*border-left: 2px solid #714A18;*/
}
blockquote p {
    padding: 20px;
    background:#eee;
    border-radius: 5px;
    font-style: italic;
}

.villagers {
    font-style: italic;
    font-size: 120%;
}
.villagers::before 
{
    content: "\0022";
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: ;
    color: #DAA75D;
}

.farmer {
    font-style: italic;
    font-size: 120%;
}
.farmer::before{
    content: "\0022";
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: ;
    color: #b96623;
}
body {
    margin: 50px;
    max-width: 90%;
    /*background-color: linear-gradient(139deg, rgb(255, 234, 171), rgba(133, 92, 14, 0.71));*/
    background-image: url(asian-farmer-straw-conical-hat-asia-rural-culture-chinese-farmer-carrying-yields-rice-harvest-his-shoulders-vector-cartoon-illustration_87946-2521.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px ;
    color: #352511;
    margin: 0px;
    padding-bottom: 10px;
}

.good {
    text-transform: capitalize;
    color: rgb(225, 189, 104);
}
.bad {
    text-transform: capitalize;
    color: rgb(235, 159, 72);
}

li {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    color: #352511;
    margin: 2px 0px 3px 2px;
}

li:first-child {
    background-image: url(bien.png);
    background-repeat: no-repeat;
    background-size: 1.4em ;
    background-position: center left 285px;
}

li:nth-child(2) {
    background-image: url(mal.png);
    background-repeat: no-repeat;
    background-size: 1.4em ;
    background-position: center left 285px;
}

li:nth-child(3) {
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-size: 1.4em ;
    background-position: center left 285px;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    color: #50340f;
    padding: 10px 5px 0px 3px ;
}

figcaption {
    font-style: italic;
    font- ;
    padding: 3px 0px 0px 6px;
}

table {
    border: 2px solid #714A18;
    background-color: #EEE3C2;
    box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    height: 100%;
    text-align: left;
    border-collapse: separate;
    margin-bottom: 40px;
    border-radius: 10px;
    border-spacing: 0px;
    overflow:hidden;
  }

  table td, table th {
    /*border: 2px solid #AA946D;*/
    padding: 8px 3px 7px 10px;
  }
  table td {
    font-size: 15px;
    border-top: 0.1em solid ;

  }

  table td:first-child{
  border-right:  0.1em solid#c2a98b;
  }

  table th {
    font-size: 15px;
    font-weight: bold;
    color: #714A18;
    text-align: center;
    padding-left: 0px;
    background: #DAA75D;
    background: linear-gradient(to bottom, #82602c 0%, #e9af5f 46%, #9b7a49ba 100%);
    border-bottom: 1px solid #463f2d;
    /*border: 2px solid #655134;*/
  }

table th:first-child {
    border-right: 2px solid #775934;
}

tr:nth-child(even) {background: rgb(215, 183, 152)}

table caption {
    caption-side: bottom;
    font-style: italic;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding-top: 10px;
}
.copyright {
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

figure > img {
    width: 100% ;
}

figure:first-of-type > img
{   
    width: 60%;
    float: left;
    position: relative;
    left: -2em;
}